INPUT_FILE_1=
INPUT_FILE_2=
INPUT_FILE_3=
INPUT_FILE_4=
LOG_FILE=
INPUT_SHEET_1=
INPUT_SHEET_2=
INPUT_SHEET_3=
OUTPUT_TABLE_1=
OUTPUT_TABLE_2=
OUTPUT_TABLE_3=
OUTPUT_TABLE_4=
BAIRROS_CORRIGIDOS_JSON={"EXEMPLO": "EXEMPLO"}
LOGRADOUROS_CORRIGIDOS_JSON={"EXEMPLO": "EXEMPLO"}
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
